@mixin responsive($screen) {
  @if ($screen == 'T') {
    @media screen and (min-width: $md-breakpoint) {
      @content;
    }
  }
  @if ($screen == 'D') {
    @media screen and (min-width: $lg-breakpoint) {
      @content;
    }
  }
}
