.breadcrumb {
  @include flexbox(start);
  flex-wrap: wrap;
  padding: 10px 0;

  a {
    @include text-style(13, $secondary);

    &:active {
      opacity: 0.4;
    }
  }

  .ic-chevron {
    display: inline-block;
    margin: 0 2px;
    font-size: 12px;
    color: $tertiary;
    transform: rotate(-90deg);
  }

  @include responsive(T) {
    padding: 16px 0;

    a {
      @include text-style(14);
    }

    .ic-chevron {
      margin: 0 4px;
    }
  }

  @include responsive(D) {
    padding-top: 24px;
    padding-bottom: 40px;

    a:hover {
      opacity: 0.4;
    }
  }
}
