.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  &-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    img {
      @include pos-center;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-detail {
    @include flexbox(start);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    padding: 0 16px;
    background-color: rgba($black, 0.4);

    .avatar-32,
    .order {
      flex-shrink: 0;
    }

    .username,
    .order {
      @include text-style(16, $white);
    }

    .avatar-32 {
      margin-right: 8px;

      &:active {
        opacity: 0.4;
      }
    }

    .username {
      @include truncate;
      flex-grow: 1;
      padding-right: 8px;
      font-weight: 700;

      &:active {
        color: $blue;
      }
    }
  }

  @include responsive(D) {
    &-detail {
      .avatar-32:hover {
        opacity: 0.4;
      }

      .username:hover {
        color: $blue;
      }
    }
  }
}
