.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
    position: relative;
    right: $padding;
  }

  &-item {
    margin-right: 24px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: $blue;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @include text-style(18, $primary);
      display: block;
      padding: $padding;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
