.gnb-nav {
  &-list {
    @include flexbox(start);
  }

  &-item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    a {
      @include text-style(18, $primary);
      font-weight: 700;
    }
  }
}
