.my-menu {
  $tooltip-size: 12px;

  position: relative;

  &-content {
    @include pos-center-x;
    border-radius: 4px;
    box-shadow: $dropdown-shadow;

    &::before,
    &::after {
      @include pos-center-x;
      top: -#{$tooltip-size * 2};
      display: block;
      width: 0;
      height: 0;
      border-top: $tooltip-size solid transparent;
      border-right: 10px solid transparent;
      border-bottom: $tooltip-size solid transparent;
      border-left: 10px solid transparent;
      content: '';
    }

    &::before {
      border-bottom-color: $border;
    }

    &::after {
      top: -#{$tooltip-size * 2 - 2px};
      border-bottom-color: $white;
    }
  }

  &-list {
    width: 200px;
    padding: 8px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
  }

  &-item {
    a,
    button {
      @include flexbox(start);
      width: 100%;
      height: 44px;
      padding: 0 8px;
      border-radius: 2px;

      &:hover {
        background-color: $background;
      }
    }
  }
}
