.order-form {
  .order-inputs,
  .order-checkouts,
  .order-summary {
    margin-bottom: 20px;
  }

  .order-inputs {
    .select-group {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .order-checkouts {
    .checkout-item {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .order-summary {
    @include flexbox(between);

    dt {
      @include text-style(13, $dark);
      font-weight: 700;
    }
  }

  .button-group {
    @include flexbox;

    button {
      width: 50%;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
