.product-card {
  &-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 4px;

    img {
      @include pos-center;
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 200ms ease-in-out;
      object-fit: cover;
    }
  }

  &-brand {
    @include text-style(12, $secondary);
    display: block;
    margin-bottom: 4px;
  }

  &-title {
    @include text-style(13, $dark);
    @include line-clamp(2);
    font-weight: 400;
    line-height: 16px;
  }

  &-price {
    @include flexbox(start);
    margin-bottom: 4px;

    .percent,
    .price {
      @include text-style(18);
      font-weight: 700;
    }

    .percent {
      margin-right: 8px;
      color: $blue;
    }

    .price {
      color: $dark;
    }
  }

  &-detail {
    @include flexbox(start);
    margin-bottom: 8px;

    .rating,
    .review {
      @include flexbox(start);

      dt {
        margin-right: 2px;
      }
    }

    .rating {
      margin-right: 8px;

      dt {
        @include flexbox;
        width: 12px;
        height: 12px;
      }

      i {
        font-size: 12px;
        color: $blue;
      }

      dd {
        @include text-style(12, $primary);
        font-weight: 700;
      }
    }

    .review {
      @include text-style(12, $secondary);
      font-weight: 700;
    }
  }
}
