.product-carousel {
  $grid-margin: 15px;

  position: relative;

  &-slider {
    margin: 0 -#{$grid-margin};
  }

  &-thumbnail {
    @include pos-center-x;
    bottom: 16px;
  }

  .thumbnail-list {
    @include flexbox;
  }

  .thumbnail-item {
    @include flexbox;
    margin: 0 4px;

    &.tns-nav-active {
      button {
        opacity: 1;
        transform: scale(1.333333);
      }
    }

    button {
      width: 6px;
      height: 6px;
      background-color: $white;
      border-radius: 50%;
      opacity: 0.7;
      transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
    }

    img {
      display: none;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include responsive(T) {
    padding-right: 30px;

    &-slider {
      margin: 0 0 8px 0;
      overflow: hidden;
      border-radius: 4px;
    }

    &-thumbnail {
      position: static;
      transform: none;
    }

    .thumbnail-list {
      justify-content: flex-start;
    }

    .thumbnail-item {
      margin: 0 8px 0 0;

      &.tns-nav-active {
        button {
          border: 2px solid $blue;
          transform: none;
        }
      }

      button {
        @include flexbox;
        width: 56px;
        height: 56px;
        overflow: hidden;
        border-radius: 4px;
        opacity: 1;
      }

      img {
        display: block;
        width: 56px;
      }
    }
  }
}
