.product-spec {
  position: relative;
  height: 470px;
  padding-top: 20px;
  overflow: hidden;

  &.is-open {
    height: auto;

    .button-wrapper {
      display: none;
    }
  }

  .button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    background-color: $white;

    &::before {
      position: absolute;
      bottom: 20px + 55px;
      left: 0;
      display: block;
      width: 100%;
      height: 64px;
      background-image: linear-gradient(to top, $white 0%, transparent 100%);
      content: '';
    }

    button {
      width: 100%;
    }
  }

  .product-table {
    margin-top: 20px;
  }

  figure {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include responsive(T) {
    .product-table {
      margin-top: 40px;
    }
  }
}
