.search-history {
  $close-button-size: 32px;

  &-header {
    @include flexbox(between);
    margin-bottom: 8px;

    .title,
    button {
      @include text-style(13, $secondary);
      font-weight: 400;
    }
  }

  &-content {
    .placeholder {
      @include flexbox(start);
      @include text-style(16, $tertiary);
      width: 100%;
      height: 44px;
      padding: 0 8px;
    }
  }

  &-item {
    position: relative;

    .word-button {
      @include text-style(16, $primary);
      width: 100%;
      padding: 10px $close-button-size 10px 8px;
      font-weight: 400;
      text-align: left;
    }

    .delete-button {
      @include flexbox;
      position: absolute;
      top: 6px;
      right: 0;
      width: $close-button-size;
      height: $close-button-size;
      font-size: 16px;
      color: $tertiary;
    }
  }
}
