%avatar-base {
  display: block;
  overflow: hidden;
  background-image: url('./assets/images/img-user-default.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-24 {
  @extend %avatar-base;
  width: 24px;
  height: 24px;
}

.avatar-32 {
  @extend %avatar-base;
  width: 32px;
  height: 32px;
}
