.floating-order-form {
  $global-header-height: $gnb-height-md + $lnb-height-md +
    $product-tab-height-md;

  @include flexbox(start, start);
  position: sticky;
  top: $global-header-height;
  flex-direction: column;
  max-height: calc(100vh - #{$global-header-height});
  min-height: calc(100vh - #{$global-header-height + $global-footer-height});
  padding: 24px 0;

  > * {
    width: 100%;
  }

  .order-inputs,
  .order-summary,
  .button-group {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .order-checkouts {
    flex-grow: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .button-group {
    .bookmark-button {
      flex-grow: 0;
      flex-shrink: 0;
      width: 55px;
      border: 1px solid $border;
      border-radius: 4px;
      transition: background-color 200ms ease-in-out;

      &.is-active {
        i {
          color: $blue;
        }
      }

      &:hover {
        background-color: $background;
      }

      i {
        font-size: 32px;
        color: $primary;
      }
    }
  }
}
