.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }

        .gnb-auth {
          margin-left: 8px;

          a {
            @include text-style(14, $secondary);
            font-weight: 700;

            &:first-child {
              margin-right: 12px;
            }

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }

    &-wrapper {
      height: 80px;
    }

    .logo {
      position: static;
      padding-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}
