.gnb {
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: $gnb-height-sm - 1px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: $gnb-height-md - 1px;
    }

    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }

        .gnb-auth {
          margin-left: 8px;

          a {
            @include text-style(14, $secondary);
            font-weight: 700;

            &:first-child {
              margin-right: 12px;
            }

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }

    .logo {
      position: static;
      padding-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    &-search {
      position: relative;
      width: 264px;
      margin-right: 24px;

      .input-group {
        width: 100%;
      }

      .search-history {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        display: none;
        width: 100%;
        padding: 16px 8px 8px;
        background-color: $white;
        border: 1px solid $border;
        border-radius: 4px;
        box-shadow: $dropdown-shadow;

        &.is-active {
          display: block;
        }

        &-header {
          padding: 0 8px;
        }
      }
    }
  }
}
