.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  @include no-scrollbar;
  overflow-x: auto;

  &-list {
    @include inline-flexbox(start);
    height: 40px;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -#{$grid-margin};
    white-space: nowrap;
    border-bottom: 1px solid $border;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }
}
