.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $overlay-level;
  width: 100%;
  height: 100vh;
  background-color: rgba($primary, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
