.search-modal {
  position: fixed;
  top: 0;
  z-index: $search-modal-level;
  width: 100%;
  height: 100vh;
  padding: 12px 0;
  background-color: $white;
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    margin-bottom: 20px;
  }

  &-form {
    @include flexbox(between);

    .input-group {
      flex-grow: 1;
    }

    .btn-ghost {
      flex-grow: 0;
      flex-shrink: 0;
      width: 56px;
      margin-left: 8px;
    }
  }
}
