$black: #000;
$dark: #191a20;
$primary: #3f4150;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f7f8fa;
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
