$gnb-height-sm: 50px;
$gnb-height-md: 80px;

$lnb-height-sm: 40px;
$lnb-height-md: 50px;

$product-tab-height-sm: 40px;
$product-tab-height-md: 54px;

$order-cta-height: 56px;
$global-footer-height: 186px;
